@use "./variables" as *;

nav{
    .logo{
        display:flex;
        align-items:center;
        img{
            width:8vh;
            height:8vh;
        }
        .website-name{
            font-family: $font-logo;
            font-size: 7vh;
            font-weight: 900;
            padding: 1vh;
        }
    }
    a{
        text-decoration: none;
        font-size:1.2em;
        font-weight: 600;
        border: 2px solid;
        border-radius: 8px;
        margin: 2vh;
        padding: 1vh 2vh;
    }
}

header{
    .discription{
        font-size: 4vh;
        text-align: center;
        font-family: $font-intro;
        font-weight: 900;
        color: $color-light-blue;
        padding-left: 3vh;
        padding-right: 3vh;
    }
    .line1{
        font-size: 3vh;
        text-align: center;
        font-family: $font-general;
        font-weight: 500;
        line-height: 4.5vh;
    }
    .line2{
        font-size: 3vh;
        text-align: center;
        font-family: $font-intro;
        font-weight: 600;
        color: $color-light-blue;
    }
    .line3{
        font-size: 3vh;
        text-align: center;
        font-size: 2vh;
        line-height: 3vh;
    }
}

button{
    background-color: $color-dark-blue;
    border: none;
    color: $color-white;
    padding: 1.5vh 6vh;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 500;
}

.features{
    *{
        padding:2vh;
    }
    &__title{
        font-size: 2.5vh;
        font-weight: 500;
    }
    &__card{
        display:flex;
        &__image{
            height:10vh;
            padding:0;
            margin: 0;
            flex-basis: 10vh;
        }     
    }
}


footer{
    *{
        margin: 1vh;
        text-decoration: none;
        background-color: $color-footer;
        font-size: 1.2em;
        font-weight: 400;
    }  
}