@use "./variables" as *;

nav{
    .logo{
        display:flex;
        align-items:center;
        img{
            width:8vh;
            height:8vh;
        }
        .website-name{
            font-family: $font-logo;
            font-size: 7vh;
            font-weight: 900;
            padding: 1vh;
        }
    }
    a{
        text-decoration: none;
        font-size:1.2em;
        font-weight: 600;
        border: 2px solid;
        border-radius: 8%;
        margin: 2vh;
        padding: 1vh 2vh;
    }
}

header{
    .discription{
        font-size: 3vh;
        font-family: $font-intro;
        text-align: center;
        font-weight: 1000;
        color: $color-light-blue;

    }
}