@use "./variables" as *;


nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 10vh;
    padding: 1vh;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    padding:2vh;
    *{
        margin: 3vh;
    }  
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}S

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    width: 100%;
    background-color: $color-footer;
    *{
        margin: 1vh;
        text-decoration: none;
        background-color: $color-footer;
        font-weight:bold;
    }  
}