@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poor+Story&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');


$font-logo: "Poor Story", system-ui;
$font-intro: "Nunito", sans-serif;
$font-general: "Roboto", sans-serif;

$color-white: rgb(250, 245, 236);
$color-dark-blue: rgb(39, 87, 133);
$color-light-blue: rgb(57, 174, 212);
$color-footer: rgb(252, 239, 190);
